<!DOCTYPE html>
<html>
<head>
	<title>Welcome to Admin domain</title>
	<% include partials/header.html %>
</head>
<body bgcolor="lightgreen">
	<% include partials/navigation.html %>
<h1>welcome</h1>
	<% include partials/footer.html %>
</body>
</html>
