<!DOCTYPE html>
<html>
<head>
	<title>Welcome to public domain</title>
	<% include partials/header.html %>
</head>
<body bgcolor="lightblue">
	<% include partials/navigation.html %>
	<table align="center" cellspacing="3px">
		<caption>view</caption>
		<thead>
			<tr>
				<th>Name</th>
				<th>comment</th>
				<th>email</th>
			</tr>
		</thead>
		<tbody>	
		<% tuples.forEach(function(row){ %>
			<tr>
				<td><%= row.name %></td>
				<td><%= row.comment %></td>
				<td><%= row.email %></td>
			</tr>
			
			  <% }); %>
		</tbody>
	</table>

<h2 align="center">Total Comments :- <%= tuples.length %></h1>
	<% include partials/footer.html %>
</body>
</html>


	



