.navi{
	width: 100%;
	float: left;
	display: block;
	background-color: black;
	height: 40px;
	overflow: hidden;
	margin: 0;
}
.navi li{
	background-color: orange;
	display: inline;
	float: left;
	padding:10px;
	margin: 0;
	margin-left: 5px;
}
.navi li a{
	text-decoration: none;
	color: white;
}
h1{
	color:red;
}